
# BEGIN Hotlink File Prevention
# A `BEGIN Hotlink File Prevention` és az `END Hotlink File Prevention` sorok közötti tartalom dinamikusan lett létrehozva, és csak WordPress szűrők módosíthatják. E kettő sor közötti bármilyen kézi módosítás el fog veszni.
# END Hotlink File Prevention