@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Global Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: #111!important;
    letter-spacing: 0.02cm;
    font-family: 'Noto Sans', sans-serif!important;
}

p {
    color: #111;
}

li {
    color: white;
    font-size: 20px; /* Increase the font size */
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration: none!important;
}

.search-form input[type="text"] {
    padding-right: 30px;
    border-radius: 5px; /* Add border-radius property for rounded corners */
}

a img.movie-poster-small {
    margin-bottom: 3%;
    opacity: 1; /* Initially hide the icon overlay */
    transition: opacity 0.2s ease; /* Add a transition effect for a smooth hover effect */
}

img.movie-poster-small {
    width: 200px!important; /* Adjust the size as per your preference */
}

a img.movie-poster-small:hover {
    opacity: 0.7; /* Show the icon overlay on hover */
}

img {
    border-radius: 10px;
}

.movie {
    position: relative;
    display: inline-block;
}

/* Navbar */
.navbar {
    background-color: #111;
    padding: 30px 0; /* Increase the padding to adjust the height */
}

.navbar .logo {
    width: 120px;
}

.navbar nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 30px;
    font-size: 20px; /* Increase the font size */
}

/* Hero Section */
.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #e50914;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
}

/* Movies Section */
.movies {
    padding: 80px 0;
}

.hidden {
    display: none;
}

.movies h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.movie {
    position: relative;
}

.movie img {
    width: 100%;
    border-radius: 4px;
}

.movie .overlay-content {
    text-align: center;
}

.movie .overlay-content h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background-color: #000;
    color: #aaa;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}
